In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [2]:
Traindf=pd.read_excel('credit-cards.train.xlsx', skiprows=1)
Traindf.drop('ID', axis='columns',inplace= True)

Testdf=pd.read_excel('credit-cards.test.xlsx', skiprows=1)
Testdf.drop('ID', axis='columns',inplace= True)

Valdf=pd.read_excel('credit-cards.val.xlsx', skiprows=1)
Valdf.drop('ID', axis='columns',inplace= True)
Traindf.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,120000,1,1,2,37,-1,2,-1,-1,-1,...,16885,46929,69521,0,316,16885,54629,77046,4499,0
1,240000,2,1,2,27,0,0,0,0,0,...,166291,141380,130742,7058,6800,4050,6084,8028,4267,0
2,80000,2,3,1,53,1,-1,-1,-2,-2,...,0,0,496,1710,0,0,0,496,2560,1
3,30000,1,2,1,35,1,-2,-2,-1,3,...,30821,30071,28767,0,0,35821,0,0,1000,0
4,70000,2,1,1,28,0,0,0,0,0,...,12170,-1686,-3594,5000,4000,12,0,0,0,0

In [3]:
Train_numerical_columns=Traindf[["AGE","LIMIT_BAL","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"]]
Test_numerical_columns=Testdf[["AGE","LIMIT_BAL","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"]]
Val_numerical_columns=Valdf[["AGE","LIMIT_BAL","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"]]

In [4]:
for column in Train_numerical_columns:
    # Compute the median value
    median_value_train = Traindf[column].median()

    # Replace each numerical value by a 1/0 based on whether it's greater than the median threshold
    Traindf[column] = (Traindf[column] > median_value_train).astype(int)
    
    
for column in Test_numerical_columns:
    # Compute the median value
    median_value_test = Testdf[column].median()
    
    # Replace each numerical value by a 1/0 based on whether it's greater than the median threshold
    Testdf[column] = (Testdf[column] > median_value_test).astype(int)
    
for column in Val_numerical_columns:
    # Compute the median value
    median_value_val = Valdf[column].median()

    # Replace each numerical value by a 1/0 based on whether it's greater than the median threshold
    Valdf[column] = (Valdf[column] > median_value_val).astype(int)
    
    
Valdf.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,0,1,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,1,2,1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,1,1,0
2,0,2,2,2,0,0,0,0,0,2,...,1,1,1,1,1,1,1,1,0,1
3,1,1,1,2,1,-1,-1,-1,0,0,...,1,1,1,0,1,1,1,1,1,0
4,0,2,3,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0

In [5]:
Train_X = Traindf.iloc[:, :-1].values
Train_Y = Traindf.iloc[:, -1].values.reshape(-1,1)
Test_X = Testdf.iloc[:, :-1].values
Test_Y = Testdf.iloc[:, -1].values.reshape(-1,1)
Val_X = Valdf.iloc[:, :-1].values
Val_Y = Valdf.iloc[:, -1].values.reshape(-1,1)
np.shape(Val_X)
#

(6000, 23)

In [6]:
from sklearn import tree

classifier= tree.DecisionTreeClassifier(max_depth=4,min_samples_split=3,min_samples_leaf=1)
classifier.fit(Train_X,Train_Y)

DecisionTreeClassifier(max_depth=4, min_samples_split=3)

In [7]:
classifier.score(Test_X,Test_Y)

0.8108333333333333

Observation: at max_depth of 4, maximum accuracy is achieved. Values of min_samples_split, min_samples_leaf did not affect the accuracy